@import url('https://fonts.googleapis.com/css2?family=Kaisei+HarunoUmi:wght@700&family=Noto+Sans+JP:wght@300;700&family=Zen+Old+Mincho&display=swap');

@media screen and (min-width: 819px) {
	html {
		font-size: 3vh;
	}

	body {
		/* 基本構成 */
		width: 94vw;
		margin: 0 0;
		padding-left: 4vh;
		padding-right: 2vh;

		/* ページ背景 */
		background-color: transparent;

		/* フォント */
		font-size: 1rem;
		font-family: 'Zen Old Mincho', serif;
		color: #333631;
		line-height: 1.5rem;

		border: none;
	}

	/* ヘッディング */
	h2 {
		margin: 48pt 12pt;
		font-size: 2rem;
		font-family: 'Kaisei HarunoUmi', serif;
	}

	h3 {
		margin-top: 4rem;
		font-size: 1.5rem;
		font-family: 'Noto Sans JP', sans-serif;
		font-weight: 300;
		text-align: center;
	}

	h4 {
		font-size: 1.3rem;
		font-family: 'Zen Old Mincho', serif;
		font-weight: normal;
	}

	/* :::::::::::::::: 本文の段落 :::::::::::::::: */
	div.paragraph {
		text-indent: 1rem;
		line-height: 2rem;
	}


	/* :::::::::::::::: 折りたたみテキスト :::::::::::::::: */
	details.extra summary {
		width: fit-content;
		height: fit-content;
		padding-left: 12pt;
	}
	details.extra > div {
		margin: 4pt 36pt;
		padding: 4pt 1.5rem;

		background-color: #e9bc00;
		box-shadow: 5px 5px 6px -1px #442706;
	}

	details.proof summary {
		width: fit-content;
		height: fit-content;
		padding: 4pt 12pt;
	}
	details.proof > div {
		margin: 4pt 36pt;
		padding: 4pt 1.5rem;

		background-color: #bbbbbb;
		box-shadow: 5px 5px 6px -1px #442706;
	}


	/* :::::::::::::::: 定理環境など :::::::::::::::: */
	fieldset.def {
		width: 90%;
		border-left: solid #336699 8pt;
		border-top: none;
		border-right: none;
		border-bottom: none;
		padding-left: 1rem;
	}
	fieldset.def legend {
		padding-right: 2.5rem;
		font-family: 'Kaisei HarunoUmi', serif;
		font-size: 1.2rem;
		border-bottom: solid #336699 2pt;
	}
	fieldset.thm {
		width: 90%;
		border-left: solid #990099 8pt;
		border-top: none;
		border-right: none;
		border-bottom: none;
		padding-left: 1rem;
	}
	fieldset.thm legend {
		padding-right: 2.5rem;
		font-family: 'Kaisei HarunoUmi', serif;
		font-size: 1.2rem;
		border-bottom: solid #990099 2pt;
	}
	fieldset.prop {
		width: 90%;
		border-left: solid #669933 8pt;
		border-top: none;
		border-right: none;
		border-bottom: none;
		padding-left: 1rem;
	}
	fieldset.prop legend {
		padding-right: 2.5rem;
		font-family: 'Kaisei HarunoUmi', serif;
		font-size: 1.2rem;
		border-bottom: solid #669933 2pt;
	}


	/* :::::::::::::::: 強調 :::::::::::::::: */
	strong.kw {
		font-family: 'Noto Sans JP', sans-serif;
		font-weight: 700;
		color: #d3381c;
	}
	strong.emph {
		font-family: 'Noto Sans JP', sans-serif;
		font-family: 700;
		color: #6666cc;
	}


	/* :::::::::::::::: 脚注 :::::::::::::::: */
	#footnote {
		font-size: 0.85rem;
		line-height: 1.5;
	}


	/* :::::::::::::::: そのほか :::::::::::::::: */
	rt {
		font-family: 'Zen Old Mincho', serif;
		font-weight: normal;
	}

	li {
		padding: 3pt 0;
	}


	/* :::::::::::::::: スクロールバー :::::::::::::::: */
	::-webkit-scrollbar {
		width: 8px;
		height: 10px;
	}

	::-webkit-scrollbar-track {
		background: transparent;
	}

	::-webkit-scrollbar-thumb {
		background: #ccb4b4;
		border-radius: 4px;
		margin: 2px 2px;
	}
}

@media screen and (max-width: 818px) {
	html {
		font-size: 3.5vw;
	}

	body {
		/* 基本構成 */
		width: 88vw;
		margin: 0 0;
		padding-left: 2vh;
		padding-right: 2vh;

		/* ページ背景 */
		background-color: transparent;

		/* フォント */
		font-size: 1rem;
		font-family: 'Zen Old Mincho', serif;
		color: #333631;

		border: none;
	}

	/* ヘッディング */
	h2 {
		font-size: 2rem;
		font-family: 'Kaisei HarunoUmi', serif;
	}

	h3 {
		font-size: 1.5rem;
		font-family: 'Noto Sans JP', sans-serif;
		font-weight: 300;
		text-align: center;
	}

	h4 {
		font-size: 1.3rem;
		font-family: 'Zen Old Mincho', serif;
		font-weight: normal;
	}

	/* 本文 */
	/* :::::::::::::::: 本文の段落 :::::::::::::::: */
	div.paragraph {
		text-indent: 1rem;
		line-height: 2rem;
	}


	/* :::::::::::::::: 折りたたみテキスト :::::::::::::::: */
	details.extra summary {
		width: fit-content;
		height: fit-content;
		padding-left: 12pt;
	}
	details.extra > div {
		margin: 4pt 36pt;
		padding: 4pt 1.5rem;

		background-color: #cc9966;
		box-shadow: 5px 5px 6px -1px #442706;
	}

	details.proof summary {
		width: fit-content;
		height: fit-content;
		padding: 4pt 12pt;
	}
	details.proof > div {
		margin: 4pt 36pt;
		padding: 4pt 1.5rem;

		background-color: #bbbbbb;
		box-shadow: 5px 5px 6px -1px #442706;
	}


	/* :::::::::::::::: 定理環境など :::::::::::::::: */
	fieldset.def {
		width: 90%;
		border-left: solid #336699 8pt;
		border-top: none;
		border-right: none;
		border-bottom: none;
		padding-left: 1rem;
	}
	fieldset.def legend {
		padding-right: 2.5rem;
		font-family: 'Kaisei HarunoUmi', serif;
		font-size: 1.2rem;
		border-bottom: solid #336699 2pt;
	}
	fieldset.thm {
		width: 90%;
		border-left: solid #990099 8pt;
		border-top: none;
		border-right: none;
		border-bottom: none;
		padding-left: 1rem;
	}
	fieldset.thm legend {
		padding-right: 2.5rem;
		font-family: 'Kaisei HarunoUmi', serif;
		font-size: 1.2rem;
		border-bottom: solid #990099 2pt;
	}
	fieldset.prop {
		width: 90%;
		border-left: solid #669933 8pt;
		border-top: none;
		border-right: none;
		border-bottom: none;
		padding-left: 1rem;
	}
	fieldset.prop legend {
		padding-right: 2.5rem;
		font-family: 'Kaisei HarunoUmi', serif;
		font-size: 1.2rem;
		border-bottom: solid #669933 2pt;
	}


	/* :::::::::::::::: 強調 :::::::::::::::: */
	strong.kw {
		font-family: 'Noto Sans JP', sans-serif;
		font-weight: 700;
		color: #d3381c;
	}
	strong.emph {
		font-family: 'Noto Sans JP', sans-serif;
		font-family: 700;
		color: #6666cc;
	}


	#footnote {
		font-size: 0.85rem;
		line-height: 1.5;
	}

	rt {
		font-family: 'Zen Old Mincho', serif;
		font-weight: normal;
	}

	li {
		padding: 3pt 0;
	}


	/* :::::::::::::::: スクロールバー :::::::::::::::: */
	::-webkit-scrollbar {
		width: 8px;
		height: 10px;
	}

	::-webkit-scrollbar-track {
		background: transparent;
	}

	::-webkit-scrollbar-thumb {
		background: #ccb4b4;
		border-radius: 4px;
		margin: 2px 2px;
	}
}
