@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300&family=Zen+Old+Mincho&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kaisei+HarunoUmi:wght@700&display=swap');

@media screen and (min-width: 819px) {
	html {
		font-size: 2vh;
	}

	body {
		width: vh;
		max-width: 1200px;
		margin: 0 auto;
		padding: 0 2vh;

		/* ページ背景 */
		background-color: antiquewhite;

		/* フォント */
		font-size: 1rem;
		font-family: 'Zen Old Mincho', serif;
		color: #333631;
	}

	h2 {
		font-family: 'Kaisei HarunoUmi', serif;
		font-size: 64px;

		text-shadow: #33363180 3px 5px 3px;
	}

	h4 {
		font-family: 'Kaisei HarunoUmi', serif;
		font-size: 1.5rem;
	}

	/* タイトルエリア */
	#pageTopArea {
		height: 14vh;
		max-height: 120px;

		/* background-color: white; */
	}


	/* ラッパー */
	#wrapper {
		display: flex;
		height: fit-content;
		border: none;
		/* background-color: lightcoral; */
	}

	/* サイドメニューバー */
	#menu {
		padding-right: 12pt;
		width: 20%;
		max-width: 300px;

		/* background-color: mediumorchid; */
	}
	#menu h4 {
		font-size: 1.4rem;
	}
	#menu li {
		font-size: 0.9rem;
	}

	#content {
		width: 100%;
		height: 70vh;
		min-height: 480px;
		box-shadow: inset 2px 2px 5px 0px #cca97a;

		background-color: transparent;
	}
	#content iframe {
		width: 100%;
		height: 100%;
		border: none;
	}

	/* スマホ用のオーバーレイメニューは非表示 */
	#overlayMenu {
		display: none;
	}
	/* メニューボタンを非表示 */
	#menuOpenButton {
		display: none;
	}

	/* フッター */
	#footer {
		font-size: 1rem;
		height: 8vh;
		display: flex;
		float: none;
		/* background-color: darkkhaki; */
	}
	#fotter #footerContent {
		width: 100%;
	}
}

@media screen and (max-width: 818px) {
	html {
		font-size: 2.2vh;
	}

	body {

		width: vh;
		margin: 0 auto;
		padding: 0 2vh 2vh 2vh;

		background-color: antiquewhite;

		/* フォント */
		font-size: 1rem;
		font-family: 'Zen Old Mincho', serif;
		color: #333631;
	}

	h2 {
		text-align: center;
		font-family: 'Kaisei HarunoUmi', serif;
		font-size: 2rem;

		text-shadow: #33363180 3px 5px 3px;
	}

	/* ラッパー */
	#wrapper {
		display: flex;
		float: none;

	}

	/* サイドバーメニューは非表示 */
	#menu {
		display: none;
	}

	#content {
		width: 100%;
		height: 60vh;
		min-height: 480px;
		border: solid #e6d9ba;

		background-color: #fdf9ee;
	}
	#content iframe {
		width: 100%;
		height: 100%;

		box-shadow: inset 2px 2px 5px 0px #cca97a;
	}

	/* オーバーレイメニュー */
	#overlayMenu {
		position: absolute;
		left: 0; top: 0;
		width: 100%; height: fit-content; min-height: 120%;

		background-color: #432f2fef;

		color: #f8f4e6;
		font-family: 'Zen Old Mincho', serif;
		font-size: 1.2rem;

		display: none;
		z-index: -1;
	}
	#overlayMenu h4 {
		text-align: center;
		font-family: 'Kaisei HarunoUmi', serif;
		font-size: 1.5rem;
	}
	#overlayMenu a {
		color: #00a381;
	}

	#overlayContent {
		padding: 24px 16px;
	}

	#menuClose {
		-moz-appearance: none;
		-webkit-appearance: none;
		appearance: none;

		margin: 20px auto;
		padding: 6px 16px;
		height: 48px;
		width: 120px;
		
		background-color: transparent; /* 背景色 */

		font-size: 0.8em; /* フォントサイズ */
		color: #f8f4e6; /* テキストカラー */
		font-family: 'Kaisei HarunoUmi', serif;
		cursor: pointer; /* カーソルを指マークに */
		
		border: solid #f8f4e6;
		border-radius: 24px; /* 角の丸み */
		transition: 0.3s; /* ホバーの変化を滑らかに */
	}
	#menuClose:hover {
		color: #432f2f;
		background-color: #f8f4e6;
	}


	/* フッター */
	#footer {
		margin-top: 16px;
		height: 4vh;
		width: 100%;
		
		font-size: 1rem;

		display: flex;
	}
	#footerContent {
		display: none;
	}
	#footer #menuOpenButton {
		width: 100%;
		text-align: center;
	}

	#menuOpen {
		-moz-appearance: none;
		-webkit-appearance: none;
		appearance: none;

		margin: 20px auto;
		padding: 6px 16px;
		height: 48px;
		width: 120px;
		
		background-color: #f8f4e6; /* 背景色 */

		font-size: 0.8em; /* フォントサイズ */
		color: #333631; /* テキストカラー */
		font-family: 'Kaisei HarunoUmi', serif;
		cursor: pointer; /* カーソルを指マークに */
		
		border: solid #333631;
		border-radius: 24px; /* 角の丸み */
		transition: 0.3s; /* ホバーの変化を滑らかに */
	}
	#menuOpen:hover {
		color: #e8d3c7;
		background-color: #333631;
	}
}
