@import url('https://fonts.googleapis.com/css2?family=Kaisei+HarunoUmi:wght@700&family=Noto+Sans+JP:wght@300;700&family=Zen+Old+Mincho&display=swap');

@media screen and (min-width: 819px) {
	html {
		font-size: 3vh;
	}

	body {
		/* 基本構成 */
		width: 94vw;
		margin: 0 0;
		padding-left: 4vh;
		padding-right: 2vh;

		/* ページ背景 */
		background-color: transparent;

		/* フォント */
		font-size: 1rem;
		font-family: 'Zen Old Mincho', serif;
		color: #333631;

		border: none;
	}

	/* ヘッディング */
	h2 {
		font-size: 2rem;
		font-family: 'Kaisei HarunoUmi', serif;
	}

	h3 {
		font-size: 1.5rem;
		font-family: 'Noto Sans JP', sans-serif;
		font-weight: 300;
		text-align: center;
	}

	h4 {
		font-size: 1.3rem;
		font-family: 'Zen Old Mincho', serif;
		font-weight: normal;
	}

	/* :::::::::::::::: 本文の段落 :::::::::::::::: */
	div.paragraph {
		text-indent: 1rem;
		line-height: 1.75;
	}


	/* :::::::::::::::: 折りたたみテキスト :::::::::::::::: */
	details.extra summary {
		height: fit-content;
		border: solid #666600 2pt;
		border-radius: 12pt;
	}
	details.extra div.paragraph {
		padding-left: 1.5rem;
		border-left: solid #666600 2pt;
		border-bottom: solid #666600 2pt;
	}

	details.proof summary {
		height: fit-content;
		border: solid #996699 2pt;
		border-radius: 12pt;
	}
	details.proof div.paragraph {
		padding-left: 1.5rem;
		border-left: solid #996699 2pt;
		border-bottom: solid #996699 2pt;
	}


	/* :::::::::::::::: 定理環境など :::::::::::::::: */
	fieldset.def {
		border-left: solid #336699 8pt;
		border-top: none;
		border-right: none;
		border-bottom: none;
		padding-left: 1rem;
	}
	fieldset.def legend {
		padding-right: 2.5rem;
		font-family: 'Kaisei HarunoUmi', serif;
		font-size: 1.2rem;
		border-bottom: solid #336699 2pt;
	}
	fieldset.thm {
		border-left: solid #990099 8pt;
		border-top: none;
		border-right: none;
		border-bottom: none;
		padding-left: 1rem;
	}
	fieldset.thm legend {
		padding-right: 2.5rem;
		font-family: 'Kaisei HarunoUmi', serif;
		font-size: 1.2rem;
		border-bottom: solid #990099 2pt;
	}
	fieldset.prop {
		border-left: solid #669933 8pt;
		border-top: none;
		border-right: none;
		border-bottom: none;
		padding-left: 1rem;
	}
	fieldset.prop legend {
		padding-right: 2.5rem;
		font-family: 'Kaisei HarunoUmi', serif;
		font-size: 1.2rem;
		border-bottom: solid #669933 2pt;
	}


	/* :::::::::::::::: 強調 :::::::::::::::: */
	strong.kw {
		font-family: 'Noto Sans JP', sans-serif;
		font-weight: 700;
		color: #d3381c;
	}
	strong.emph {
		font-family: 'Noto Sans JP', sans-serif;
		font-family: 700;
	}


	/* :::::::::::::::: 脚注 :::::::::::::::: */
	#footnote {
		font-size: 0.85rem;
		line-height: 1.5;
	}


	/* :::::::::::::::: そのほか :::::::::::::::: */
	rt {
		font-family: 'Zen Old Mincho', serif;
		font-weight: normal;
	}

	li {
		padding: 3pt 0;
	}


	/* :::::::::::::::: スクロールバー :::::::::::::::: */
	::-webkit-scrollbar {
		width: 8px;
		height: 10px;
	}

	::-webkit-scrollbar-track {
		background: transparent;
	}

	::-webkit-scrollbar-thumb {
		background: #ccb4b4;
		border-radius: 4px;
		margin: 2px 2px;
	}
}

@media screen and (max-width: 818px) {
	html {
		font-size: 3.5vw;
	}

	body {
		/* 基本構成 */
		width: 88vw;
		margin: 0 0;
		padding-left: 2vh;
		padding-right: 2vh;

		/* ページ背景 */
		background-color: antiquewhite;

		/* フォント */
		font-size: 1rem;
		font-family: 'Zen Old Mincho', serif;
		color: #333631;

		border: none;
	}

	/* ヘッディング */
	h2 {
		font-size: 2rem;
		font-family: 'Kaisei HarunoUmi', serif;
	}

	h3 {
		font-size: 1.5rem;
		font-family: 'Noto Sans JP', sans-serif;
		font-weight: 300;
		text-align: center;
	}

	h4 {
		font-size: 1.3rem;
		font-family: 'Zen Old Mincho', serif;
		font-weight: normal;
	}

	/* 本文 */
	p {
		text-indent: 1rem;
		line-height: 1.75;
	}

	strong {
		font-family: 'Noto Sans JP', sans-serif;
		font-weight: 700;
		color: #d3381c;
	}

	#footnote {
		font-size: 0.85rem;
		line-height: 1.5;
	}

	rt {
		font-family: 'Zen Old Mincho', serif;
		font-weight: normal;
	}

	li {
		padding: 3pt 0;
	}

	details > p {
		padding-left: 1.8rem;
	}


	::-webkit-scrollbar {
		width: 10px;
		height: 10px;
	}

	::-webkit-scrollbar-track {
		background: transparent;
	}

	::-webkit-scrollbar-thumb {
		background: #ccb4b4;
		border-radius: 5px;
	}
}
