@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300&family=Zen+Old+Mincho&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kaisei+HarunoUmi:wght@700&display=swap');

body {
	/* 基本構成 */
	width: 1200px;
	margin: 0 auto;
	padding: 0 20px 20px 20px;

	/* ページ背景 */
	background-image: url("./Assets/background_image.jpg");
	background-size: 90vw 90vw;
	background-position: 25vw 0;

	/* フォント */
	font-size: 2vh;
	font-family: 'Zen Old Mincho', serif;
	color: #333631;

}

#wrapper {
	display: flex;
	height: 640px;
	/* background-color: whitesmoke; */
}

#menu {
	padding-right: 12pt;
	width: 300px;
}

#content {
	width: 100%;
	background-color: #f1e4c4;
	border: solid #e6d9ba;
}

h2 {
	font-family: 'Kaisei HarunoUmi', serif;
	font-size: 64px;
}

h4 {
	font-family: 'Kaisei HarunoUmi', serif;
	font-size: 1.5rem;
}
